@using Cifra.Data.ViewModels
@model ShoppingCartVM

@{
    ViewData["Title"] = "Общая стоимость товаров в корзине";
}

<div class="row">
    <div class="col-12 col-sm-6 col-md-8 col-lg-8 mx-auto">
        <div class="text-center">
            <h2>Сводка вашей корзины покупок</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Продукт</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итог</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.Carts)
                {
                    <tr>
                        <td class="align-middle">@item.Product.Name</td>
                        <td class="align-middle">$@item.Product.Price</td>
                        <td class="align-middle">@item.Quantity</td>
                        <td class="align-middle">@((item.Quantity * item.Product.Price).ToString("c"))</td>
                        <td class="align-middle" style="white-space:nowrap">
                            <a class="text-danger" style="text-decoration:none" asp-controller="Orders" asp-action="RemoveFromShoppingCart" asp-route-id="@item.Product.Id">
                                <i class="bi bi-cart-dash"></i>
                            </a>
                            |
                            <a class="text-success" style="text-decoration:none" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@item.Product.Id">
                                <i class="bi bi-cart-plus"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center">
            <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">
                <i class="bi bi-plus-square-dotted"></i>
                Добавить еще товары
            </a>
            <a class="btn btn-success" asp-action="RequestPayment">
                <i class="bi bi-credit-card"></i>
                Завершить покупку
            </a>
        </div>
    </div>
</div>